<div class = "header">
	<div class="logoWrapper">
		<% if !current_page?(root_path) %>
			<%= link_to(root_path) do %>
				<t1><%= image_tag("HampshireLogo.png", :alt => "HampshireLogo") %>
				&nbsp;R<span style="letter-spacing:-.15em;">.W.</span> Kern Center</t1>
			<% end %>
		<% else %>
			<t1><%= image_tag("HampshireLogo.png", :alt => "HampshireLogo") %>
			&nbsp;R<span style="letter-spacing:-.15em;">.W.</span> Kern Center</t1>
		<% end %>
	</div>
</div>