<div class="navWrapper">
	<%= makeLink(electricity_path, 'Solar', 'orange') %>
	<%= makeLink(water_path, 'Water', 'blue') %>
	<%= makeLink('/placeholder', 'Programs', 'purple') %>
	<%= makeLink('/placeholder', 'Learn More', 'red') %>
</div>