<h1>Resource#show</h1>
<%= @resource %>
<%= high_chart("water_chart", @chart) %>

<p></p>

<!== clickable chart==>
<%= high_chart("water_graph", @graph) do |w| %>
	<%=raw "options.plotOptions.series.point.events.click = function() { location.href = 'http://duckduckgo.com'}" %>
<% end %>
