// Place all the styles related to the info controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#infoWrapper {
	table-layout: fixed;
	text-align: center;
	width: 100%;
}
#infoNav {
	width: 20%}
