// Place all the styles related to the info controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#infoWrapper {
	table-layout: fixed;
	text-align: justify;
	width: 100%;
}
#infoWrapper h2 {
	text-align: center;
	}
.infoNav {
	width: 30%;
	text-align: center;}
