// Place all the styles related to the resource controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.resourceWrapper {
	width:90%;
	white-space:nowrap;
}
.lineChart {
	display:inline-block;
	width: 60%;
	margin:0 auto;
}
.timeButtonWrapper {
	text-align:center;
}
.timeButton {
	background-color:transparent;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #a8a8a8;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
}
.pieChart {
	display:inline-block;
	max-width:40%;
	align:top;
}