<h2>THE SEVEN PETALS</h2>
<p>The Living Building Challenge is a way for a socially conscious college to raise awareness and inspire sustainable building in our community. It's about buildings mimicking nature, and the flower is their metaphor—all elements of the built environment rooted in place. Seven petals represent values that we at Hampshire, too, work to advance:</p>