<h2>THE SEVEN PETALS</h2>
<p><b>PLACE:</b> Limits to growth, urban agriculture, habitat exchange.</p>
<p><b>WATER:</b> Net-positive water.</p>
<p><b>ENERGY:</b> Net-positive energy.</p>
<p><b>HEALTH AND HAPPINESS:</b> Civilized environment, healthy interior environment, biophilic environment.</p>
<p><b>MATERIALS:</b> Red list, responsible industry, net-positive waste.</p>
<p><b>EQUITY:</b> Human scale and humane places, equitable investment.</p>
<p><b>BEAUTY:</b> Beauty and spirit, inspiration and education.</p>