<h2>Digital Dashboard</h2>
<p>A Division III Software Engineering Project by Beatrice Evelyn Corfman</p>
<p>Committee: Jaime Davila and Lee Spector</p>
<p>With help from Kyoko Sano, Mike Dean, Nicholas Lee, and Ella Holmes; and the Hampshire College IT Department</p>
<p>Special thanks to all of my friends and loved ones, who kept me on course, believed in and fought for me, and took care of me. This project would not have been possible without you.</p>