<p>Created by Beatrice Evelyn Corfman (12F)</p>
<p>Committee: Jaime Davila and Lee Spector</p>
<br />
<p>With help from:</p>
<p>Kyoko Sano, Mike Dean, Nicholas Lee, and Ella Holmes</p>
<p>Hampshire College IT Department</p>